In [12]:
import pytrends
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

In [5]:
pytrends.get_historical_interest(['bitcoin'], year_start=2018, month_start=1, day_start=1, hour_start=0, \
                                 year_end=2018, month_end=2, day_end=1, hour_end=0, cat=0, geo='', gprop='', sleep=0)

The request failed: Google returned a response with code 500.

                     bitcoin  isPartial
date
2018-01-08 00:00:00       58      False
2018-01-08 01:00:00       60      False
2018-01-08 02:00:00       59      False
2018-01-08 03:00:00       63      False
2018-01-08 04:00:00       58      False
...                      ...        ...
2018-01-31 20:00:00       38      False
2018-01-31 21:00:00       39      False
2018-01-31 22:00:00       42      False
2018-01-31 23:00:00       42      False
2018-02-01 00:00:00       42      False

[580 rows x 2 columns]

In [14]:
pytrends.trending_searches(pn='united_states')

                            0
0                  Von Miller
1          India vs Australia
2   How do I register to vote
3                      Eagles
4                 Adam Levine
5           Mexico earthquake
6                  Adnan Syed
7         Dane Jackson injury
8               Aaron Rodgers
9              Camila Cabello
10              Prince George
11                   Snapchat
12               Quantum Leap
13     Dancing with the Stars
14              Justin Fields
15        Bachelorette finale
16                 Joe Flacco
17              Sherri Papini
18     Eli Manning Penn State
19                   AJ Brown